AttendanceClient/Service References/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AttendanceTools" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAttendanceTools_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IAttendanceTools_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAttendanceTools_IsAttendanceSet_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAttendanceSet" />
  </wsdl:message>
  <wsdl:message name="IAttendanceTools_IsAttendanceSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAttendanceSetResponse" />
  </wsdl:message>
  <wsdl:message name="IAttendanceTools_CheckAdminAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAdminAccess" />
  </wsdl:message>
  <wsdl:message name="IAttendanceTools_CheckAdminAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAdminAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IAttendanceTools_ShowAttendanceList_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAttendanceList" />
  </wsdl:message>
  <wsdl:message name="IAttendanceTools_ShowAttendanceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAttendanceListResponse" />
  </wsdl:message>
  <wsdl:portType name="IAttendanceTools">
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttendanceTools/LoginUser" message="tns:IAttendanceTools_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttendanceTools/LoginUserResponse" message="tns:IAttendanceTools_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAttendanceSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttendanceTools/IsAttendanceSet" message="tns:IAttendanceTools_IsAttendanceSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttendanceTools/IsAttendanceSetResponse" message="tns:IAttendanceTools_IsAttendanceSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAdminAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttendanceTools/CheckAdminAccess" message="tns:IAttendanceTools_CheckAdminAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttendanceTools/CheckAdminAccessResponse" message="tns:IAttendanceTools_CheckAdminAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAttendanceList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttendanceTools/ShowAttendanceList" message="tns:IAttendanceTools_ShowAttendanceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttendanceTools/ShowAttendanceListResponse" message="tns:IAttendanceTools_ShowAttendanceList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAttendanceTools" type="tns:IAttendanceTools">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IAttendanceTools/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAttendanceSet">
      <soap:operation soapAction="http://tempuri.org/IAttendanceTools/IsAttendanceSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAdminAccess">
      <soap:operation soapAction="http://tempuri.org/IAttendanceTools/CheckAdminAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAttendanceList">
      <soap:operation soapAction="http://tempuri.org/IAttendanceTools/ShowAttendanceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AttendanceTools">
    <wsdl:port name="BasicHttpBinding_IAttendanceTools" binding="tns:BasicHttpBinding_IAttendanceTools">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AttendanceLib/AttendanceTools/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>